
/*--------------------------typography-----------------------*/
:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Times New Roman', sans-serif; 
    --Font: #0F1D44;
    --color2: #30698C;
    --hover: rgba(231, 246, 253, 0.8);
    --fondo: #F3FDFF;
    --fondo2: #f9feff;
    --bar:rgb(245, 255, 255);
    --color5: #AABDB9; 
}  
/*--Font: #0F1D44;
    --color2: #30698C;
    --color3: #EBF2F2;
    --fondo: #F3FDFF;
    --color5: #AABDB9;  */

body{
    background-color: var(--fondo3);
    color: #397362;
}
/*-----------------------------main----------------------------*/
main{    
    margin: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    align-items: center;
    justify-content: center;     
}

.colum{
    flex-direction: column;   
}
/*------------------------Display flex----------------------*/
.Disp_flex{
    display: flex;
   }
/*-----------------------navegatiom bar----------------*/
nav {   
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    height: 50px;
    position: fixed;
    width: 100%;   
    background-color:var(--fondo);
}

a{
    color: #0F1D44;
    font-family: var(--font-primary);
    text-decoration: none;
}

ul{
    display: flex;
    justify-content: space-between;    
}

li{   
    list-style: none; 
    margin: 10%;
    height: 100%;
    width: 100%;
}

.routes:hover {    
    font-size: larger;
    padding: 5px;
    background-color: var(--hover);
    border: 2px solid var(--hover);
    border-radius: 5px;
}

#language_changer{ 
    align-items: center;
    justify-content: center; 
    height: 100%;    
}

.leguajeItem{
    object-fit: cover; 
    height: 50%;
}

.logo{    
    margin-top: 10%;
}

.nav{
    background-color: var(--bar);
}

/*---------------------------------Home Component--------------------------------*/

.description{
    flex-direction: column;     
    margin-top: 50px;  
    width: 50%;   
}

h1{
    font-size: 2cm;
    font-family: var(--font-primary);
    width: 100%;
    color: var(--Font);    
}

.descriptionText{
    font-family: var(--font-secondary);
    font-size: 0.5cm;
    width: 100%;
}

.profilePicture{
   width: 25%; 
   justify-content: center;   
   margin-right: 10%;
   border: 2px solid;
   border-radius: 50px;
   overflow: hidden;

}

.profilePicture img{
    height: 100%;
    width: 100%;
}
#home{
    justify-content: space-between;
}

/*--------------------------------------------About--------------------------------------------------*/
.curriculum{    
    width: 40%;
    align-items: center;
    justify-content: center;    
}

#pdf{
    height: 100%;
    border-radius: 5%;
}
#skills_title{
    font-size: 1.5cm;
    background-color: var(--bar);    
    justify-content: center;
}

/*------------------------------------Habilities cards---------------------*/

.Habilities{        
    justify-content: space-around;             
}
.skills{
    align-items: center;
    width: 100%;    
}

.cards{
    margin: 25px;
    border-radius: 15px;
    padding: 25px;
    overflow: hidden;
    text-overflow: ellipsis;      
}

.cards:hover{
background-color: rgba(231, 246, 253, 0.8); ;
justify-content: space-between;
}
h2{
    color: var(--Font);
    font-size:0.5cm;
    
}



/*-------------------- estilos formulario contact -----------------------*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 150px;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:transparent;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--hover);
}  
  p {
    font-size: 1.2rem;
    
    margin-top: 20px;
  }


  /*-------------------------Footer--------------------------------*/

footer{   
align-items: center;    
position: fixed;
bottom: 0;
width: 100%;
height: 60px; 
background-color: var(--fondo);
}  

.icons{
    height: 40px;
    width: 40px;
}


/*-----------------------------Projects Componente---------------------*/
.projects{
    justify-content: space-around;
    width: 90%; 
    flex-direction: column;
    align-items: center;      
}

.project{    
    height: auto;
    width: 45%;
    margin: 5px;    
    border-radius: 15px;
    padding: 25px;       
    border: 2px solid rgb(175, 175, 224);   
    overflow: hidden;  
    text-overflow: ellipsis;  
}

.projectState{
    border-radius: 15px;  
    width: 100%;        
    align-items: center;
    border: 2px solid rgb(175, 175, 224);    
    padding: 15px;  
    margin-top: 30px;    
}

.visible{ 
    height: auto;
}

.hidden{
    justify-content: space-between;
    height: 30px;    
}

.project_cards{
    height: 100%;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.btn-up{
    transform: rotate(180deg);
}

