.cards{
    margin: 25px;
    border-radius: 15px;
    padding: 25px;
    overflow: hidden;
    text-overflow: ellipsis;   
}

.cards:hover{
background-color: rgba(195, 196, 197, 0.5); ;
justify-content: space-between;
}

.button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:transparent;    
    font-size: 1.2rem;
    cursor: pointer;
}