nav{
    display: flex;   
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    height: 50px;
    position: fixed;
    width: 100%;     
    overflow: hidden;
    background-color: var(--fondo2);
}
.scrollLink{
    cursor: pointer;
}

a.react-scroll{
    outline: none;
}

a{
    color: #0F1D44;
    font-family: var(--font-primary);
    text-decoration: none;
    
}

ul{ 
    display: flex;   
    position: absolute;
    justify-content: center; 
    width: auto;    
}

li{   
    list-style: none;    
    margin: 10%;
    height: 100%;
    width: 100%;
    white-space: nowrap;    
}



#language_changer{
    align-items: center;
    justify-content: center; 
    height: 70%; 
    border-radius: 0.5vw;
    background-color: transparent;
    float: right;    
}

.leguajeItem{
    object-fit: cover; 
    height: 80%;
}

.logo{
    margin: 0;    
    height: 80%;
    margin-right: 70%;
}
