.modalContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  display: grid;
  position: absolute;
  grid-template-columns: 40% 60% ;
  grid-template-rows: 20% 60% 20% ;
  background-color: rgb(212, 210, 210);
  border-radius: 2vw;
  border: solid black;
  width:70vw ;
  height: 95vh;
}

.name{
  grid-column: 1/2;
  grid-row: 1;
  display: flex;
  align-items: center;
  margin-left: 2vw;
  font-size: 1.5vw;
}

.exit{
  width: 2vw;
  border-radius: 0.2vw;
  border: solid black;
  position: fixed;
  top: 0;
  right: 0;
}

.imgProject{
  grid-column : 1;
  grid-row: 2;
  width: 30vw;
  height: 18vw;
  border: solid ;
  margin-left: 2vw;
}

ul.info {
  grid-column: 2;
  grid-row: 2;
  width: 30vw;
  right:  0;
  height: 60%;
  list-style: none;
  display: grid;
  grid-gap: 1rem;
}

.description{
  grid-column: 1/3;
  grid-row: 3;
  margin: 2vw;
  margin-top: -2vw;
  margin-bottom: 0;
  height: 100%; /* ajusta la altura de la descripción a un valor que te parezca adecuado */
}

  
li.li {
  margin: 0%;
  height: auto;
  width:  100%;
  display: flex;
  align-items: center;
}

li.li h3 {
  margin: 0;
  text-align: right;
  padding-right: 1rem;
}

li.li p {
  margin: 0;
  height: auto;
  word-wrap: break-word;
  font-size: 1vw;
}