:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Times New Roman', sans-serif; 
    --FontTitle: #0F1D44;
    --color2: #30698C;
    --hover: rgba(231, 246, 253, 0.8);
    --fondo: #F3FDFF;
    --fondo2: #f9feff;
    --bar:#838383;
    --Font:#2E2A24;
    --color5: #c0cac7; 
    --fontColor:#2E2A24;
}  

body{
    background-color: var(--fondo3);
    color: var(--fontColor);
    font-family: var(--Font); 
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
  }